<div class="todo-container">
    <h2>📝 My To-Do List</h2>
    <div class="input-container">
      <input [(ngModel)]="newTodo" placeholder="Enter a task..." />
      <button (click)="addTodo()">
        <i class="material-icons">add</i>
      </button>
    </div>
  
    <ul>
      <li *ngFor="let todo of todos" [class.completed]="todo.completed">
        <label class="custom-checkbox">
          <input type="checkbox" [(ngModel)]="todo.completed" (change)="toggleTodo(todo)" />
          <span class="checkmark"></span>
        </label>
  
        <span class="todo-text">{{ todo.title }}</span>
  
        <button class="delete-btn" (click)="removeTodo(todo.id)">
          <i class="material-icons">delete</i>
        </button>
      </li>
    </ul>
  </div>
  